body

{background-color: rgb(255, 207, 228);
background-color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
padding-left: 48px;
padding-right: 48px;
}

h1{
    font-family: "Bungee spice";
}


.bg-color{
    background-color: rgb(196, 255, 236);
}

p{
    background-color: rgb(196, 255, 236)
}